<a href="https://colab.research.google.com/github/seon219/python100/blob/main/1~10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. 리스트 삭제

In [5]:
nums = [100, 200, 300, 400, 500]
nums.pop()
nums.pop()
print(nums)

[100, 200, 300]

* pop 함수 - 리스트 요소 끄집어내기
 - pop()은 리스트의 맨 마지막 요소를 가져간다
   - nums.pop()은 500 이고, nums는 그 외의 것
 - pop(x)는 리스트의 x번째 요소를 가져간다
   - nums,pop(1)은 200이고, nums는 그 외의 것

In [7]:
nums = [100, 200, 300, 400, 500]
del nums[3:]
print(nums)

[100, 200, 300]

* del 함수 - 리스트 요소 삭제
 - del nums[x]는 x번째 요소값을 삭제
 - del nums[x:]는 슬라이싱 기법(:)으로 리스트의 요소 여러 개를 한꺼번에 삭제 가능

# 2. 리스트의 내장함수

In [12]:
l = [200, 100, 300]
l.insert(2, 10000)
print(l)

[200, 100, 10000, 300]

* insert - 리스트에 요소 삽입
 - insert(a,b)는 리스트의 a번째 위치에 b를 삽입하는 함수

# 3. 변수의 타입

In [13]:
ㅣ = [100, 200, 300]
print(type(l))

<class 'list'>

* 리스트 자료형(list)
 - 대괄호( [ ] )를 사용하고 쉼표( , )로 구분
* 문자열 자료형 (str)
 - 큰 따옴표( " ) 사용
 - 작은 따옴표( ' ) 사용
 - 큰/작은 따옴표 3개를 연속으로 사용(" " "), (' ' ')
* 숫자형 (int)
 - 정수형 (int)
 - 실수형(float)

# 4. 변수의 타입2

3번. char이 아닌 str이어야 함
* 파이썬에서는 1글자를 표현하는 char과 char의 배열은 string을 구분하지 않고 모두 string으로 사용

# 5. for문 계산

In [14]:
a = 10
b = 2
for i in range(1, 5, 2): # 1부터 4까지 2씩 증가
  a += i

print(a+b)

16

* for i in range(시작값, 끝값, 증가폭)
* 끝값은 마지막 숫자보다 1큼

# 6. False

2번. 1은 True이다.
* "",''은 Flase지만, " ", ' '는 공백 문자기 있기 때문에 True이다.
* bool(-1)이라면 True. 0 외의 다른 숫자들은 모두 True 이다.

# 7. 변수명

4번, 5번. as는 예약어 이므로 사용할 수 없고, 변수명은 숫자로 시작할 수 없다.
* 예약어는 프로그래밍 언어에서 이미 문접적인 용도로 사용하고 있는 단어

* 변수명 생성 규칙
 - 영문 문자와 숫자를 사용할 수 있음
 - 대소문자 구분해야 함
 - 문자부터 시작해야하며, 숫자부터 시작할 수 없다
 - _로 시작할 수 있음
 - 특수문자는 사용할 수 없음(+, -, *, /, $, @, % 등)
 -파이썬의 키워드 (if, for, while, and, or 등)

# 8. 딕셔너리 키 이름 중복

In [15]:
d = {'height':180,'weight':78,'weight':84,'temparture':36,'eyesight':1}
print(d['weight'])

84

* 딕셔너리는 중복을 허용하지 않으므로 가장 마지막값을 출력
* 딕셔너리란?
 - 연관된 값을 묶어서 저장하는 용도의 자료형
 - 사전에서 단어를 찾듯이 값을 가져올 수 있다고 하여 딕셔너리라고 부름
* 딕셔너리 만들기
 - 중괄호( { } ) 안에 { 키 : 값 } 형식으로 저장
 - 각각의 내용을 컴마( , )로 구분

# 9. sep와 end를 활용한 출력방법

In [18]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep = '/' ,end = ' ')
print(hour, minute, second, sep = ':')

2019/04/26 11:34:27

* sep로 값 사이에 문자 넣기
 - 값 사이에 공백이 아닌 문자를 넣고 싶을 때 사용
* end 사용하기
 - 파이썬은 print할 때 기본적으로 마지막에 \n을 붙이기 때문에 print를 여러번 사용하면 여러줄에 출력
 - 한줄에 출력하기 위해 end를 사용

# 10. 별찍기

In [20]:
n = int(input())
for i in range(1,n+1):
	print(" "*(n-i)+("*"*(2*i-1)))

10
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************