<a href="https://colab.research.google.com/github/seon219/python100/blob/main/11~20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 11. for를 이용한 기본 활용
* 1부터 100까지 모두 더하는 Code를 <pass> 부분에 완성하세요. for를 사용해야 합니다.

s = 0

< pass >

print(s)

In [1]:
s = 0
for i in range(1, 101): # 1부터 100까지 증가. 1생략 가능
  s += i
print(s)

5050

# 12. 게임 캐릭터 클래스 만들기
* 다음 소스코드에서 클래스를 작성하여 게임 캐릭터의 능력치와 '파이어볼'이 출력되게 만드시오

<여기에 class를 작성하세요.>

x = Wizard(health = 545, mana = 210, armor = 10)

print(x.health, x.mana, x.armor)

x.attack()

In [2]:
class Wizard:
    def __init__(self, health, mana, armor):
        self.health = health
        self.mana = mana
        self.armor = armor
 
    def attack(self):
        print('파이어볼')

x = Wizard(health=545, mana=210, armor=10)
print(x.health, x.mana, x.armor)
x.attack()

545 210 10
파이어볼

* 클래스를 구성을 사용하는 이유
 - 글러벌 변수를 없애고, 모든 변수를 어떠한 스코프에 소속
 - 몇 번이고 재사용 가능
 - 코드의 수정을 최소화
 - 함수 실행 중, 함수 자신을 다시 호출하는 처리 등이 가능

* _ _ _init_ _ _
 - 컨스트럭터라고 불리는 초기화를 위한 함수(메소드)
 - 인스턴스화를 실시할 때 반드시 처음에 호출되는 특수한 함수
 - 오브젝트 생성(인스턴스 생성)과 관련하여 데이터의 초기를 실시하는 함수
 - 반드시 첫 번째 인수로 self를 지정
 - 클래스를 생성핼 때 지정한 인수는 초기화 매소드의 2번쨰부터 작성

# 13. 몇 번째 행성인가요?

우리 태양계를 이루고 있는 행성은 수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성으로 총 8개 입니다. 저희는 우리 태양계의 n번째 행성이 무엇인지 알고 싶습니다.

입력으로 행성의 순서를 나타내는 숫자 n이 입력됩니다. 예를들어 수성은 첫번째 행성입니다.

출력으로 그 순서에 해당하는 행성의 이름을 출력해 주세요.

In [3]:
planets = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', ' 해왕성']

n = int(input("숫자를 입력하세요 :")) -1 #리스트는 0부터 시작이므로 -1해줌
print(planets[n])

숫자를 입력하세요 :2
금성

# 14. 3의 배수인가요?

영희는 친구와 게임을 하고 있습니다. 서로 돌아가며 랜덤으로 숫자를 하나 말하고 그게 3의 배수이면 박수를 치고 아니면 그 숫자를 그대로 말하는 게임입니다.

입력으로 랜덤한 숫자 n이 주어집니다.

만약 그 수가 3의 배수라면 '짝'이라는 글자를, 3의 배수가 아니라면 n을 그대로 출력해 주세요.

In [4]:
n = int(input("숫자를 입력하세요"))

if n % 3 == 0:
  print("짝")
else :
  print(n)

숫자를 입력하세요3
짝

# 15. 자기소개

신학기가 시작되고, 아이들이 돌아가면서 자기소개를 하기로 했습니다.
만약 입력으로 `김다정`이라는 이름이 주어지면 "안녕하세요. 저는 김다정입니다." 라고 출력

In [5]:
n = input("이름을 입력하세요:")

print("안녕하세요. 저는 {0}입니다.".format(n))

이름을 입력하세요:김다정
안녕하세요. 저는 김다정입니다.

* format() 
 - 문자열을 출력할 때 서식 지정자를 사용하여 출력하고자 하는 경우에 사용
 - 인자값을 중괄호가 지정된  위치에 순차적으로 값을 대입

# 16. 로꾸거

문장이 입력되면 거꾸로 출력하는 프로그램 만들기

입력 : 거꾸로

출력 : 로꾸거

In [6]:
# [::-1]
n = input("글자를 입력하세요:")

print(n[::-1])

글자를 입력하세요:거꾸로
로꾸거

* [3:0:-1]이라면 3번부터 1번까지 역순으로 출력
* [3::-1]이라면 3번부터 0번까지 역순으로 출력
* 마지막 숫자이면 생략 가능해서 [::-1]이면 전체 문자열을 역순으로 출력

In [7]:
# for문 - 문자열
n = input("글자를 입력하세요:")

n_reverse = ''  # 기존 문자열을 역순으로 담아둘 빈 문자열 선언
for i in n:
  n_reverse = i + n_reverse

print(n_reverse)

글자를 입력하세요:거꾸로
로꾸거

In [8]:
#for문 - 리스트
n = input("글자를 입력하세요:")

n_list = list(n) #reverse함수를 사용하기 위해 문자열을 list로 치환
n_list.reverse() #reverse 함수를 사용해 문자열 리스트를 거꾸로 뒤집음

print(''.join(n_list)) # 거꾸로 뒤집어진 리스트를 연결해서 출력

글자를 입력하세요:거꾸로
로꾸거

In [9]:
# reversed
n = input("글자를 입력하세요:")

print(''.join(reversed(n))) #reverse와 달리 문자열에도 바로 적용 가능

글자를 입력하세요:거꾸로
로꾸거

# 17. 놀이기구 키 제한

유주는 놀이공원 아르바이트 중입니다. 그런데 놀이기구마다 키 제한이 있습니다.
유주가 담당하는 놀이기구는 키가 150 이상만 탈 수 있습니다.

입력으로 키가 주어지면
키가 150이 이상이면 **YES**를 틀리면 **NO**를 출력하는 프로그램을 작성하세요.

In [10]:
n = int(input("키를 입력하세요:"))
if n >= 150:
  print("YES")
else :
  print("NO")

키를 입력하세요:150
YES

# 18. 평균점수

영하네 반은 국어, 수학, 영어 시험을 보았습니다. 영하는 친구들의 평균 점수를 구해주기로 했습니다.

공백으로 구분하여 세 과목의 점수가 주어지면
전체 평균 점수를 구하는 프로그램을 작성하세요. 단, 소숫점 자리는 모두 버립니다.

In [11]:
n = list(map(int, input("띄어쓰기로 세 과목의 점수를 입력하세요:").split()))
print(int(sum(n)/3))

띄어쓰기로 세 과목의 점수를 입력하세요:70 80 50
66

* map
 - 리스트 요소를 지정된 함수로 처리해주는 함수
 -  리스트의 요소를 int로 바꿔주기 위해 map(int) 사용
 - input().split()의 결과가 문자열 리스트여서 map사용 가능

# 19. 제곱을 구하자

공백으로 구분하여 두 숫자 a와 b가 주어지면, a의 b승을 구하는 프로그램을 작성하세요.

In [12]:
n = list(map(int, input("띄어쓰기로 a와 b를 입력하세요:").split()))
print(n[0]**n[1])

띄어쓰기로 a와 b를 입력하세요:2 3
8

* 파이썬 연산자
 - 덧셈 : +
 - 뺄셈 : -
 - 곱셈 : *
 - 거듭 제곱 : **
 - 나눗셈 : /
 - 나눗셈(소수점 제외, 정수부분만) : //
 - 나눗셈(나머지) : %

# 20. 몫과 나머지

공백으로 구분하여 두 숫자가 주어집니다.
첫번째 숫자로 두번째 숫자를 나누었을 때 그 몫과 나머지를 공백으로 구분하여 출력하세요.

In [ ]:
n = list(map(int, input("띄어쓰기로 숫자 2개를 입력하세요:").split()))
a = n[0]//n[1]
b = n[0]%n[1]
print(a, b)

띄어쓰기로 숫자 2개를 입력하세요:10 2
5 0