<a href="https://colab.research.google.com/github/seon219/python100/blob/main/21~30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 21. set은 어떻게 만드나요?

다음 중 set을 만드는 방법이 아닌 것?

1)  x = {1, 2, 3, 5, 6, 7}

2)  x = {}

3)  x = set('python')

4)  x = set(range(5))

5)  x = set()

2번

* set - 집합
 - 중복을 허용하지 않음
 - 순서가 없음
 - 저장된 값을 인덱싱으로 접근하려면 리스트나 튜플로 변환후 사용

# 22. 배수인지 확인하기

다음 중 변수 i가 6의 배수인지 확인하는 방법으로 올바른 것은?

1) i / 6 == 0

2) i % 6 == 0

3) i & 6 == 0

4) i | 6 == 0

5) i // 6 ==0

2번. %은 나머지를 나타내기 때문에 나머지가 0이면 6의 배수이다.

* & : 비교 연산자(and)
 - bitwise 연산자
 - 둘 다 참(1)일때만 true
* | : 비교 연산자(or)
 - bitwise 연산자
 - 하나만 참(1)이어도 true

# 23. OX문제

print(10/2)의 출력 결과는 **5**이다.

X

In [ ]:
print(10/2)

5.0

5가 나오기 위해서는 10//2 가 되어야 함

# 24. 대문자로 바꿔주세요!

민지는 국제 포럼에서 아르바이트를 하게 되었습니다. 민지는 각 국에서 온 참가자들의 명단을 엑셀로 정리하고 있는데 참가자들 이름이 어떤 이는 전부 소문자, 어떤 이는 전부 대문자로 써져 있는 등 형식이 제각각이었습니다.

민지를 위해 이름이 입력되면 전부 대문자로 출력되는 프로그램을 만들어주세요.

In [ ]:
name = input("이름을 입력하세요:")

print(name.upper())

이름을 입력하세요:mary
MARY

* upper
 - 모든 문자열을 대문자로 바꿔줌
* lower
 - 모든 문자열을 소문자로 바꿔줌

# 25. 원의 넓이를 구하세요

원의 넓이는 반지름의 길이 x 반지름의 길이 x 3.14로 구할 수 있습니다.
함수를 사용하여 원의 넓이를 구하는 코드를 작성해봅시다.

입력을 반지름의 길이로 정수 n이 주어지면 원의 넓이를 반환하는 함수를 만들어 주세요.
(입력을 해야하기 때문에 input을 반드시 사용해야합니다)

In [ ]:
n = int(input("반지름의 길이를 입력하세요:"))

print(n*n*3.14)

반지름의 길이를 입력하세요:5
78.5

In [ ]:
def solution(n):
	return n * n * 3.14

print(solution(int(input())))

5
78.5

# 26. 행성 문제2

우리 태양계를 이루는 행성은 수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성이 있습니다.
이 행성들의 영어 이름은 Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune입니다.

행성의 한글 이름을 입력하면 영어 이름을 반환하는 프로그램을 만들어 주세요.

In [ ]:
planets = {
	'수성' : 'Mercury',
	'금성' : 'Venus',
	'지구' : 'Earth',
	'화성' : 'Mars',
	'목성' : 'Jupiter',
	'토성' : 'Saturn',
	'천왕성' : 'Uranus',
	'해왕성' : 'Neptune',
}

name = input("행성의 이름을 입력하세요:")
print(planets[name])

행성의 이름을 입력하세요:지구
Earth

# 27. 딕셔너리 만들기

첫 줄에는 학생의 이름이 공백으로 구분되어 입력되고, 두번째 줄에는 그 학생의 수학 점수가 공백으로 구분되어 주어집니다.

두 개를 합쳐 학생의 이름이 key이고 value가 수학 점수인 딕셔너리를 출력해주세요.

In [ ]:
keys = list(map(str, input("띄어쓰기로 이름을 입력하세요:").split()))
values = list(map(int, input("띄어쓰기로 숫자를 입력하세요:").split()))

result = dict(zip(keys, values))
print(result)

띄어쓰기로 이름을 입력하세요:mina bill
띄어쓰기로 숫자를 입력하세요:70 80
{'mina': 70, 'bill': 80}

# 28. 2-gram

2-gram이란 문자열에서 2개의 연속된 요소를 출력하는 방법입니다. 
예를 들어 'Python'을 2-gram으로 반복해 본다면 다음과 같은 결과가 나옵니다.

Py

yt

th

ho

on

입력으로 문자열이 주어지면 2-gram으로 출력하는 프로그램을 작성해 주세요.

In [ ]:
data = input()

for i in range(len(data) - 1):
	print(data[i], data[i+1], sep = '')

python
py
yt
th
ho
on

# 29. 대문자만 지나가세요

진구는 영어 학원 아르바이트를 하고 있습니다. 반 아이들은 알파벳을 공부하는 학생들인데 오늘은 대문자 쓰기 시험을 봤습니다.

알파벳 하나만을 입력하고 그 알파벳이 대문자이면 YES를 아니면 NO를 출력하는 프로그램을 만들어 주세요.

In [ ]:
n = input("알파벳을 입력하세요:")

if n.isupper():
	print("YES")
else:
	print("NO")

알파벳을 입력하세요:A
YES

* isupper()
 - 모든 문자열의 대문자 여부를 감지 
 - boolean 형태(true, flase)로 구분
* islower()
 - 모든 문자열의 소문자 여부를 감지
 - boolean 형태(true, flase)로 구분

# 30. 문자열 속 문자 찾기

문자 pineapple에는 apple이라는 문자가 숨어 있습니다. 원범이는 이렇듯 문자열 속에 숨어있는 문자를 찾아보려고 합니다.

입력으로 첫 줄에 문자열이 주어지고 둘째 줄에 찾을 문자가 주어지면 
그 문자가 시작하는 index를 반환하는 프로그램을 만들어 주세요

In [ ]:
data = input("문자열 입력하기:")
word = input("찾을 문자 입력하기:")

print(data.find(word))

문자열 입력하기:pineapple is yummy
찾을 문자 입력하기:apple
4

* find()
 - 변수.find() 형태로 ()안에 문자를 넣어 사용
 - 변수에 위치한 문자열 중 괄호 안에 넣은 특정 문자가 처음 위치한 자리의 값을 찾음
 - 문자열의 위치는 숫자로 출력되고 0부터 시작
 - find(찾을 문자열, 시작점, 종료점) 형태로 사용 가능
 - 찾는 문자가 없을 경우에 -1 출력
 - 문자열을 찾을 수 있는 변수는 문자열만 사용이 가능
 - 리스트, 튜프르 딕셔너리 자료형에서는 find함수를 사용하면 AttributeError 발생

* index()
 - 변수.index() 형태로 ()안에 문자를 넣어 사용
 - 변수에 위치한 문자열 중 괄호 안에 넣은 특정 문자가 처음 위치한 자리의 값을 찾음
 - 문자열의 위치는 숫자로 출력되고 0부터 시작
 - 찾는 문자가 없는 경우에 ValueError 발생
 - 문자열, 리스트, 튜플 자료형에서 사용 가능
 - 딕셔너리 자료형에서는 사용할 수 없어 AtrributeError 발생