<a href="https://colab.research.google.com/github/seon219/python100/blob/main/41_~_50.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 41. 소수판별

숫자가 주어지면 **소수인지 아닌지 판별하는 프로그램**을 작성해주세요.
소수이면 YES로, 소수가 아니면 NO로 출력해주세요.

- 소수 : 1과 자기 자신만으로 나누어떨어지는 1보다 큰 양의 정수
- 음의 소수는 고려하지 않습니다.

In [8]:
n = int(input("숫자를 입력하세요: "))

a = 0

if n <= 0:
  n = int(input("음수입니다. 다시입력하세요: "))

for i in range(2, n):
  if n % i == 0:
    a = 1

if a == 0:
  print("YES")
else :
  print("NO")

숫자를 입력하세요: 23
YES

# 42. 요일 구하기 (detetime 모듈 사용)

2020년 1월 1일은 수요일입니다. 2020년 a월 b일은 무슨 요일일까요?
두 수 a, b를 입력받아 2020년 a월 b일이 무슨 요일인지 리턴하는 함수, solution을 완성하세요.
요일의 이름은 일요일부터 토요일까지 각각 SUN, MON, TUE, WED, THU, FRI, SAT 입니다.

예를 들어 a = 5, b = 24라면 5월 24일은 일요일이므로 문자열 "SUN"를 반환하세요.

**제한 조건**

- 2020년은 윤년입니다.
- 2020년 a월 b일은 실제로 있는 날입니다. 
(13월 26일이나 2월 45일 같은 날짜는 주어지지 않습니다.)
- datetime 모듈을 사용하세요.

In [11]:
import datetime

day = ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN']
a = int(input("월을 입력하세요: "))
b = int(input("일을 입력하세요: "))

n = day[datetime.date(2020, a, b).weekday()]
print(n)

월을 입력하세요: 5
일을 입력하세요: 24
SUN

# 43. 10진수를 2진수로

우리가 흔히 사용하는 숫자 1, 8, 19, 28893 등등...은 10진수 체계입니다.
이를 컴퓨터가 알아 들을 수 있는 2진수로 바꾸려고 합니다. 어떻게 해야할까요?

예를들어 13은 2^3 + 2^2 + 2^0 = 13 이기때문에 1101으로 표현합니다

사용자에게 숫자를 입력받고 이를 2진수를 바꾸고 그 값을 출력해주세요.
(bin 함수를 사용하지 않고 풀어주세요.)

In [12]:
def binary(num):
    save = []
    
    while True:
        a = int(num / 2)
        b = int(num % 2)
        save.insert(0, b)
        
        if a != 0:
            num = a
        else:
            break
            
    final = ''.join(map(str, save))
    print(final)

num = int(input("10진수를 입력하세요 : "))
binary(num)

10진수를 입력하시오 : 12
1100

In [13]:
a = int(input("10진수를 입력하세요: "))
b = []

while a:
    print(a)
    b.append(str(a % 2))
    a = int(a / 2)

print(b)
b.reverse()
print(b)
print(''.join(b))

10진수를 입력하세요: 12
12
6
3
1
['0', '0', '1', '1']
['1', '1', '0', '0']
1100

# 44. 각 자리수의 합

사용자가 입력한 양의 정수의 각 자리수의 합을 구하는 프로그램을 만들어주세요

예를들어

18234 = 1+8+2+3+4 이고 정답은 18 입니다.

3849 = 3+8+4+9 이고 정답은 24입니다.

In [14]:
n = list(map(int,input("숫자를 입력하세요: ")))
result = 0
for i in n:
	result += i
	
print(result)

숫자를 입력하세요:18234
18

* map()
 - 리스트의 요소를 지정된 함수로 처리해주는 함수
 - 원본 리스트를 변경하지 않고 새 리스트를 생성

# 45. time함수 사용하기

python의 모듈 중 하나인 time 모듈은 1970년 1월 1일 0시 0분 0초 이후로부터 지금까지 흐른 시간을 초단위로 반환합니다

이를 이용하여 현재 연도(2021)를 출력해보세요

In [19]:
import time
t = time.time()
t = int(t//(3600*24*365))+1970
print(t)

2021

# 46. str 자료형의 응용

1부터 100까지의(100을 포함) 모든 숫자를 일렬로 놓고 모든 자릿수의 총 합을 구하세요. 

예를 들어 10부터 15까지의 모든 숫자를 일렬로 놓으면 101112131415이고 각 자리의 숫자를 더하면 25입니다.

In [21]:
s = ''
for i in range(101):
    s += str(i)
print(s)
result = 0
for i in s:
    result += int(i)
print(result)

0123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100
901

# 47. set 자료형의 응용

바울랩에서는 3월 29일 제주대학교에서 '제주 빅데이터 사회혁신 해커톤' 행사를 주최하게 되었습니다. 이에 구글 설문지를 배포하였으나 제주대학생들이 중복해서 n개씩 설문지를 제출하였습니다. 중복된 데이터들을 삭제하여 실제 접수 명단이 몇 명인지 알고 싶습니다.

아래 주어진 데이터들로부터 중복을 제거하여 실제 접수 인원을 출력해 주세요.

In [22]:
people = [
         ('이호준', '01050004429'),
         ('이호상', '01051442904'),
         ('이준호', '01050003429'),
         ('이호준', '01050004429'),
         ('이준', '01050412904'),
         ('이호', '0105000443904'),
         ('이호준', '01050004429'),
         ]

print(len(set(people)))

5

# 48. 대소문자 바꿔서 출력하기

문자열이 주어지면 대문자와 소문자를 바꿔서 출력하는 프로그램을 작성하세요.

In [23]:
a = input("문자를 입력하세요:")
b = []

for i in a:
	if i.islower():
		b.append(i.upper())
	else:
		b.append(i.lower())
	
for i in b:
	print(i, end='')

AAABBBcccddd
aaabbbCCCDDD

# 49. 최댓값 구하기

순서가 없는 10개의 숫자가 공백으로 구분되어 주어진다. 주어진 숫자들 중 최댓값을 반환하라.

In [24]:
data = list(map(int, input("띄어쓰기를 사용해서 숫자를 입력하세요: ").split()))
print(sorted(data)[-1])

10 9 8 7 6 5 4 3 2 1
10

# 50. 버블정렬 구현하기

버블정렬은 두 인접한 원소를 검사하여 정렬하는 방법을 말합니다. 시간 복잡도는 느리지만 코드가 단순하기 때문에 자주 사용됩니다.

In [32]:
def bubble(n, data):
	for i in range(n-1):
		for j in range(n-i-1):
			if data[j] > data[j+1]:
				data[j], data[j+1] = data[j+1], data[j]
	for i in range(n):
		print(data[i], end = " ")

n = int(input("숫자 개수를 입력하세요: "))
data = list(map(int, input("띄어쓰기를 사용해서 숫자를 입력하세요:" ).split()))

bubble(n, data)

숫자 개수를 입력하세요: 5
띄어쓰기를 사용해서 숫자를 입력하세요:4 2 3 8 5
2 3 4 5 8